This is a large and rich dataset from the U.S. Small Business Administration.

The SBA assists small businesses through a loan guarantee program, in that they act much like an insurance provider to reduce the risk for a bank by taking on some of the risk through guaranteeing a portion of the loan. In the case that a loan goes into default, SBA then covers the amount they guaranteed.

This dataset contains loans that have been successfully repaid as well as loans that have gone into default. Here we attempt to do predictive analysis to determine if we should approve or deny a loan i.e. we try to determine if a loan application would eventually go into default.

Additional information: https://www.kaggle.com/datasets/mirbektoktogaraev/should-this-loan-be-approved-or-denied

In this notebook we cleanse the data to prepare for predictive analysis.

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('SBAnational.csv')
df.head()

/tmp/ipykernel_8954/840136177.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('SBAnational.csv')

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"

In [5]:
df.shape

(899164, 27)

In [6]:
pd.set_option('display.max_columns', None)

In [7]:
df

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,84,4,2.0,0,0,1,0,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,60,2,2.0,0,0,1,0,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,180,7,1.0,0,0,1,0,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,60,2,1.0,0,0,1,0,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,240,14,1.0,7,7,1,0,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899159,9995573004,FABRIC FARMS,UPPER ARLINGTON,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451120,27-Feb-97,1997,60,6,1.0,0,0,1,0,0,N,NaN,30-Sep-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"
899160,9995603000,FABRIC FARMS,COLUMBUS,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451130,27-Feb-97,1997,60,6,1.0,0,0,1,0,Y,N,NaN,31-Oct-97,"$85,000.00",$0.00,P I F,$0.00,"$85,000.00","$42,500.00"
899161,9995613003,"RADCO MANUFACTURING CO.,INC.",SANTA MARIA,CA,93455,"RABOBANK, NATIONAL ASSOCIATION",CA,332321,27-Feb-97,1997,108,26,1.0,0,0,1,0,N,N,NaN,30-Sep-97,"$300,000.00",$0.00,P I F,$0.00,"$300,000.00","$225,000.00"
899162,9995973006,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,27-Feb-97,1997,60,6,1.0,0,0,1,0,N,Y,8-Mar-00,31-Mar-97,"$75,000.00",$0.00,CHGOFF,"$46,383.00","$75,000.00","$60,000.00"
899163,9996003010,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,27-Feb-97,1997,48,1,2.0,0,0,1,0,N,N,NaN,31-May-97,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"

In [8]:
df.describe()

,LoanNr_ChkDgt,Zip,NAICS,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural
count,8.991640e+05,899164.000000,899164.000000,899164.000000,899164.000000,899028.000000,899164.000000,899164.000000,899164.000000,899164.000000
mean,4.772612e+09,53804.391241,398660.950146,110.773078,11.411353,1.280404,8.430376,10.797257,2753.725933,0.757748
std,2.538175e+09,31184.159152,263318.312760,78.857305,74.108196,0.451750,236.688165,237.120600,12758.019136,0.646436
min,1.000014e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.589758e+09,27587.000000,235210.000000,60.000000,2.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,4.361439e+09,55410.000000,445310.000000,84.000000,4.000000,1.000000,0.000000,1.000000,1.000000,1.000000
75%,6.904627e+09,83704.000000,561730.000000,120.000000,10.000000,2.000000,1.000000,4.000000,1.000000,1.000000
max,9.996003e+09,99999.000000,928120.000000,569.000000,9999.000000,2.000000,8800.000000,9500.000000,99999.000000,2.000000

In [9]:
df.describe(include='O')

,Name,City,State,Bank,BankState,ApprovalDate,ApprovalFY,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
count,899150,899134,899150,897605,897598,899164,899164,894636,896582,162699,896796,899164,899164,897167,899164,899164,899164
unique,779583,32581,51,5802,56,9859,70,18,8,6448,8472,118859,15,2,83165,22128,38326
top,SUBWAY,LOS ANGELES,CA,BANK OF AMERICA NATL ASSOC,CA,7-Jul-93,2006,N,N,13-Mar-10,31-Jul-95,"$50,000.00",$0.00,P I F,$0.00,"$50,000.00","$25,000.00"
freq,1269,11558,130619,86853,118116,1131,76040,420288,782822,734,10371,43787,899150,739609,737152,69394,49579

Let's check for null values.

In [10]:
df.isnull().sum()

LoanNr_ChkDgt             0
Name                     14
City                     30
State                    14
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

Quite a few columns have null values. We will examine each.

Let's start with "Name".

In [11]:
df.loc[df['Name'].isnull()]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
272,1002095005,NaN,Logan,UT,84321,JPMORGAN CHASE BANK NATL ASSOC,IL,421910,17-Feb-98,1998,120,1,1.0,0,0,1,0,0,N,NaN,31-Mar-00,"$50,000.00",$0.00,P I F,$0.00,"$50,000.00","$25,000.00"
409,1003125003,NaN,Cobleskill,NY,12043,KEYBANK NATIONAL ASSOCIATION,OH,0,11-Sep-98,1998,60,5,2.0,0,0,1,0,Y,N,NaN,30-Apr-99,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$50,000.00"
465,1003575009,NaN,Tarrytown,NY,10591,KEYBANK NATIONAL ASSOCIATION,OH,541512,23-Feb-99,1999,60,4,1.0,0,0,1,0,Y,N,NaN,31-May-99,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$50,000.00"
466,1003585001,NaN,Mahopac,NY,10541,KEYBANK NATIONAL ASSOCIATION,OH,311920,4-Mar-99,1999,40,8,1.0,0,0,1,0,N,N,NaN,31-Mar-99,"$25,000.00",$0.00,P I F,$0.00,"$25,000.00","$12,500.00"
51439,1395235010,NaN,Morton,IL,61550,HEARTLAND BK & TR CO,IL,811219,1-Aug-05,2005,12,6,1.0,0,6,0,1,N,N,NaN,31-Aug-06,"$150,000.00",$0.00,P I F,$0.00,"$150,000.00","$75,000.00"
82751,1616875008,NaN,Cleveland,OH,44128,"FIRSTMERIT BANK, N.A.",OH,238350,17-Jan-06,2006,84,1,2.0,1,0,0,1,T,N,NaN,31-Jul-06,"$22,044.00",$0.00,P I F,$0.00,"$10,000.00","$5,000.00"
103696,1763546010,NaN,LANSDALE,PA,19446,SUSQUEHANNA BANK,PA,423990,14-Apr-06,2006,12,2,1.0,0,0,1,1,N,N,NaN,28-Feb-07,"$340,000.00",$0.00,P I F,$0.00,"$340,000.00","$306,000.00"
143179,2046175001,NaN,Waterloo,IA,50703,WELLS FARGO BANK NATL ASSOC,SD,442110,28-Sep-06,2006,40,1,2.0,1,1,0,1,N,N,12-Aug-14,31-Dec-06,"$74,500.00",$0.00,CHGOFF,"$49,935.00","$74,500.00","$63,325.00"
197401,2392194003,NaN,TROY,NY,12180,MANUFACTURERS & TRADERS TR CO,NY,0,16-Oct-98,1999,60,2,1.0,0,0,1,0,0,Y,NaN,30-Nov-98,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
197428,2392384001,NaN,E. AMHERST,NY,14051,BANK OF AMERICA NATL ASSOC,RI,811310,16-Oct-98,1999,60,2,1.0,0,0,1,0,0,Y,NaN,28-Feb-99,"$28,000.00",$0.00,P I F,$0.00,"$28,000.00","$22,400.00"
198019,2396634001,NaN,CAMBRIDGE,MA,2138,BANK OF AMERICA NATL ASSOC,RI,0,19-Oct-98,1999,60,6,1.0,0,0,1,0,0,Y,NaN,31-Mar-99,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"
280514,2944725002,NaN,Minneapolis,MN,55410,WELLS FARGO BANK NATL ASSOC,SD,541890,7-Feb-08,2008,41,1,1.0,0,1,0,1,Y,N,NaN,30-Sep-09,"$583,000.00",$0.00,P I F,$0.00,"$150,000.00","$75,000.00"
507780,4915765003,NaN,WILLISTON,ND,58801,FIRST NATL BK & TR CO OF WILLI,ND,484220,17-Oct-11,2012,39,1,2.0,1,1,0,1,N,N,NaN,17-Oct-11,"$45,000.00",$0.00,P I F,$0.00,"$45,000.00","$22,500.00"
556232,5466095001,NaN,HOUSTON,TX,77092,COMPASS BANK,AL,541211,3-Oct-12,2013,84,2,1.0,0,2,0,1,N,N,NaN,1-Nov-12,"$220,000.00",$0.00,P I F,$0.00,"$220,000.00","$110,000.00"

We have the loan information for these unknown companies. As there are likely many unique companies, the name will likely not be included in any predictive analysis, so we can populate the null values with "Unknown Company".

In [12]:
df = df.fillna({'Name':'Unknown Company'})

In [13]:
df.loc[df['City'].isnull()]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
42535,1330603010,BUSATH PHOTOGRAPHY,NaN,UT,84109,MOUNTAIN W. SMALL BUS. FINAN,UT,0,15-Dec-81,1982,300,2,2.0,0,0,0,0,N,N,NaN,6-Jan-82,"$190,000.00",$0.00,P I F,$0.00,"$190,000.00","$190,000.00"
177891,2268732010,"HAYES/DOCKSIDE,INC",NaN,LA,70130,NEW ORLEANS REGIONAL BUS. DEVE,LA,0,17-Dec-81,1982,240,23,2.0,0,0,0,0,N,N,NaN,10-Feb-82,"$500,000.00",$0.00,P I F,$0.00,"$500,000.00","$500,000.00"
243450,2716822007,"YACHTING &NAVIGATION, LTD",NaN,IL,60624,BANK - AMERICA NATL ASSOC,IL,0,10-Apr-81,1981,300,10,2.0,0,0,0,0,N,N,NaN,4-Nov-81,"$150,000.00",$0.00,P I F,$0.00,"$150,000.00","$150,000.00"
243452,2716832010,"ACE PLATING COMPANY,INC.",NaN,IL,60636,NaN,NaN,0,15-May-81,1981,180,1,2.0,0,0,0,0,N,N,NaN,4-Nov-81,"$49,000.00",$0.00,P I F,$0.00,"$49,000.00","$49,000.00"
270263,2884182004,"HERMANOS LOPEZ,INC. ""B""",NaN,CA,92102,CDC SMALL BUS. FINAN CORP,CA,0,16-Apr-81,1981,180,45,2.0,0,0,0,0,N,N,NaN,6-Jan-82,"$488,000.00",$0.00,P I F,$0.00,"$488,000.00","$488,000.00"
270265,2884192007,"RODIECK PLUMBING SUPPLY,INC ""A",NaN,CA,92102,CDC SMALL BUS. FINAN CORP,CA,0,15-Jun-81,1981,300,20,2.0,0,0,0,0,N,N,NaN,10-Sep-81,"$203,000.00",$0.00,P I F,$0.00,"$211,000.00","$211,000.00"
270268,2884202008,"SAN DIEGO REFRIGERATD SVCS,INC",NaN,CA,92102,CDC SMALL BUS. FINAN CORP,CA,0,26-Jun-81,1981,180,28,1.0,0,0,0,0,N,N,NaN,10-Sep-81,"$407,000.00",$0.00,P I F,$0.00,"$407,000.00","$407,000.00"
270270,2884212000,"EMACO, INC. ""B""",NaN,CA,92102,CDC SMALL BUS. FINAN CORP,CA,0,13-Jul-81,1981,180,7,2.0,0,0,0,0,N,N,NaN,10-Sep-81,"$105,000.00",$0.00,P I F,$0.00,"$105,000.00","$105,000.00"
270277,2884232006,"MAYER BLUEPRINT,INC. ""B""",NaN,CA,92102,CDC SMALL BUS. FINAN CORP,CA,0,29-Jul-81,1981,240,20,2.0,0,0,0,0,N,N,NaN,10-Sep-81,"$159,000.00",$0.00,P I F,$0.00,"$159,000.00","$159,000.00"
270284,2884252001,TEX-WIPE COMPANY,NaN,CA,92102,CDC SMALL BUS. FINAN CORP,CA,0,31-Aug-81,1981,240,26,2.0,0,0,0,0,N,N,NaN,4-Nov-81,"$365,000.00",$0.00,P I F,$0.00,"$365,000.00","$365,000.00"
326169,3258222000,LAKEWOOD HEALTH CARE CENTER LT,NaN,OH,44115,GROWTH CAPITAL CORP.,OH,0,18-Nov-81,1982,300,40,1.0,0,0,0,0,N,N,NaN,10-Feb-82,"$205,000.00",$0.00,P I F,$0.00,"$205,000.00","$205,000.00"
342177,3386722002,LEE'S PAWN SHOP,NaN,MO,63103,ST. LOUIS LOCAL DEVEL CO,MO,0,16-Oct-81,1982,300,2,1.0,0,0,0,0,N,N,NaN,6-Jan-82,"$25,000.00",$0.00,P I F,$0.00,"$25,000.00","$25,000.00"
342185,3386762003,OLIVE LIGHT LOAN & MERCANTILE,NaN,MO,63103,ST. LOUIS LOCAL DEVEL CO,MO,0,30-Nov-81,1982,180,4,2.0,0,0,0,0,N,N,NaN,10-Feb-82,"$71,000.00",$0.00,P I F,$0.00,"$71,000.00","$71,000.00"
342928,3391402005,MASTER PLEATING COMPANY,NaN,MO,63103,ST. LOUIS LOCAL DEVEL CO,MO,0,21-Jul-81,1981,180,65,1.0,0,0,0,0,N,N,NaN,4-Nov-81,"$83,000.00",$0.00,P I F,$0.00,"$83,000.00","$83,000.00"
342938,3391452009,1215 PINE COMPANY PARTNERSHIP,NaN,MO,63103,ST. LOUIS LOCAL DEVEL CO,MO,0,11-May-81,1981,240,13,2.0,0,0,0,0,N,N,NaN,5-Aug-81,"$74,000.00",$0.00,P I F,$0.00,"$74,000.00","$74,000.00"
342946,3391472004,CLARK TIRE COMPANY,NaN,MO,63105,BUSINESS FINAN CORP OF ST. LOU,MO,0,4-Mar-81,1981,240,17,1.0,0,0,0,0,N,N,NaN,10-Jun-81,"$111,000.00",$0.00,P I F,$0.00,"$111,000.00","$111,000.00"
342951,3391492010,BRAZNELL COMPANY,NaN,MO,63013,ST. LOUIS LOCAL DEVEL CO,MO,0,24-Feb-81,1981,240,50,1.0,0,0,0,0,N,N,NaN,10-Jun-81,"$107,000.00",$0.00,P I F,$0.00,"$107,000.00","$107,000.00"
344784,3403402003,WORLD TIRE CORPORATION,NaN,WA,98104,EVERGREEN BUSINESS CAPITAL,WA,0,8-Jun-81,1981,300,15,1.0,0,0,0,0,N,N,NaN,10-Feb-82,"$458,000.00",$0.00,P I F,$0.00,"$458,000.00","$458,000.00"
350109,3438122002,DULTMEIER SALES,NaN,NE,50309,IOWA BUSINESS GROWTH COMPANY,IA,0,7-Oct-81,1982,180,10,2.0,0,0,0,0,N,N,NaN,6-Jan-82,"$225,000.00",$0.00,P I F,$0.00,"$225,000.00","$225,000.00"
378899,3662512006,AMERICAN MANAGEMENT ENG ASS IN,NaN,TX,78204,"ACCION TEXAS, INC.",TX,0,2-Jun-81,1981,300,0,1.0,0,0,0,0,N,N,NaN,9-Sep-81,"$74,000.00",$0.00,P I F,$0.00,"$74,000.00","$74,000.00"
410929,3970852005,"REVERSAL SYSTEMS,INC.",NaN,MO,64106,EDC LOAN CORPORATION,MO,0,14-Jan-81,1981,240,10,1.0,0,0,0,0,N,N,NaN,8-Apr-81,"$232,000.00",$0.00,P I F,$0.00,"$232,000.00","$232,000.00"
410933,3970882003,"DOVER GRAPHICS,INC.",NaN,MO,64106,EDC LOAN CORPORATION,MO,0,12-Mar-81,1981,240,12,1.0,0,0,0,0,N,N,NaN,1-Jun-81,"$50,000.00",$0.00,P I F,$0.00,"$52,000.00","$52,000.00"
437782,4247422000,B. G. WICKBERG COMPANY INC,NaN,MA,2169,SOUTH SHORE ECONOMIC DEVEL COR,MA,0,30-Jan-81,1981,240,18,1.0,0,0,0,0,N,N,NaN,9-Dec-81,"$156,000.00",$0.00,P I F,$0.00,"$156,000.00","$156,000.00"
437788,4247472004,R & F MICRO TOOL CO INC,NaN,MA,2169,SOUTH SHORE ECONOMIC DEVEL COR,MA,0,17-Mar-81,1981,180,60,1.0,0,0,0,0,N,N,NaN,6-Jan-82,"$210,000.00",$0.00,P I F,$0.00,"$210,000.00","$210,000.00"
437793,4247502000,J SAX & COMPANY,NaN,MA,2108,BOSTON LOCAL DEVELOPMENT,MA,0,1-Apr-81,1981,180,27,1.0,0,0,0,0,N,N,NaN,9-Sep-81,"$165,000.00",$0.00,P I F,$0.00,"$165,000.00","$165,000.00"
437804,4247612009,DOUBLE W MOLD INC,NaN,MA,2401,NaN,NaN,0,3-Aug-81,1981,180,21,1.0,0,0,0,0,N,N,NaN,4-Nov-81,"$38,000.00",$0.00,P I F,$0.00,"$38,000.00","$38,000.00"
437818,4247702001,GEMCO NARROW FABRICS INC,NaN,MA,2165,BAY COLONY DEVEL CORP,MA,0,18-Sep-81,1981,180,50,1.0,0,0,0,0,N,N,NaN,10-Feb-82,"$95,000.00",$0.00,P I F,$0.00,"$95,000.00","$95,000.00"
564191,5554512008,"ACTION GRAPHICS, INC.",NaN,KY,40209,CAPITAL ACCESS CORP - KENTUCKY,KY,0,16-Jun-81,1981,300,14,1.0,0,0,0,0,N,N,NaN,5-Aug-81,"$87,000.00",$0.00,P I F,$0.00,"$87,000.00","$87,000.00"
570342,5622822010,HMC PROPERTIES,NaN,NC,28402,WILMINGTON BUS. DEVEL,NC,0,13-Jul-81,1981,240,37,1.0,0,0,0,0,N,N,NaN,4-Nov-81,"$47,000.00",$0.00,P I F,$0.00,"$47,000.00","$47,000.00"
745271,7756831000,B & B ASSOIATES,NaN,MI,48502,FORWARD DEVEL CORP,MI,0,3-Mar-81,1981,240,30,1.0,0,0,88355,0,N,N,NaN,10-Feb-82,"$162,000.00",$0.00,P I F,$0.00,"$162,000.00","$162,000.00"

Same with City. There are many unique values in the dataset so the city will not be included in any predictive analysis. So we can fill the null values with "Unknown City"

In [14]:
df = df.fillna({'City':'Unknown City'})

In [15]:
df.isnull().sum()

LoanNr_ChkDgt             0
Name                      0
City                      0
State                    14
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [16]:
df.loc[df['State'].isnull()]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
35517,1270833006,SO. JERSEY DANCE/MERRYLEES,PENNSVILLE,NaN,8070,NaN,NaN,0,28-Jul-81,1981,120,1,2.0,0,0,0,0,N,N,5-Mar-90,NaN,$0.00,$0.00,NaN,"$11,364.00","$15,000.00","$15,000.00"
49244,1380800010,TRYON COATS & LEATHER,JOHNSTOWN NY,NaN,0,KEYBANK NATIONAL ASSOCIATION,NY,0,18-May-66,1966,282,0,0.0,0,0,0,0,N,N,29-Mar-90,16-Aug-66,"$60,000.00",$0.00,CHGOFF,"$6,084.00","$60,000.00","$54,000.00"
264664,2850643009,CENTURY 21 PHILLIPS REALTY,CAMERON PARK,NaN,95682,SBA - EDF ENFORCEMENT ACTION,CO,0,12-Feb-87,1987,240,19,1.0,0,19,0,0,N,N,NaN,17-Jun-87,"$81,000.00",$0.00,P I F,$0.00,"$83,000.00","$83,000.00"
306274,3113583009,THE COMPUTER EDGE,"BOX 267, APO AP",NaN,96205,RTC/WESTPORT SAVINGS BANK,CA,541511,21-Jan-88,1988,73,8,1.0,0,0,0,0,N,N,18-Sep-93,16-Mar-88,"$50,000.00",$0.00,CHGOFF,"$30,589.00","$50,000.00","$45,000.00"
328526,3280213000,KING'S TRUCK WASH,WICHITA,NaN,67219,SOUTH CENT. KANSAS ECONOMIC DE,KS,811192,5-Aug-88,1988,120,17,2.0,10,7,0,0,N,N,NaN,12-Jul-89,"$119,000.00",$0.00,P I F,$0.00,"$119,000.00","$119,000.00"
351072,3445553007,JAMES A. NICHOLS,"1542,TABUK,SAUDI ARABIA",NaN,79925,WELLS FARGO BANK NATL ASSOC,TX,532230,19-May-89,1989,16,1,2.0,0,0,0,0,N,N,NaN,31-Jul-89,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$54,000.00"
366139,3556993002,"GOLF SHOES UNLIMITED, INC.",PALM BEACH GARDENS,NaN,33410,"BEAL BANK, SSB",TX,451110,19-Oct-89,1990,84,3,2.0,0,0,1,0,N,N,NaN,31-Jan-90,"$75,000.00",$0.00,P I F,$0.00,"$75,000.00","$67,500.00"
366158,3557093005,CASCO SERVICE,CASCO,NaN,54205,UNION STATE BANK,WI,0,19-Oct-89,1990,204,8,1.0,0,0,1,0,N,N,NaN,30-Apr-90,"$300,000.00",$0.00,P I F,$0.00,"$300,000.00","$252,600.00"
367007,3563473008,P & P TOOL INC,SOMERSET,NaN,54025,FIRST BANK OF BALDWIN,WI,0,26-Oct-89,1990,240,7,1.0,0,0,1,0,N,N,NaN,31-Jan-90,"$82,000.00",$0.00,P I F,$0.00,"$82,000.00","$73,800.00"
379174,3664443009,WILLIAMS JEWELERS,SALT LAKE CITY,NaN,84124,ZIONS FIRST NATIONAL BANK,UT,448310,14-Dec-89,1990,60,4,1.0,0,0,1,0,N,N,NaN,31-Jul-90,"$250,000.00",$0.00,P I F,$0.00,"$250,000.00","$212,500.00"
385418,3714383003,"LAKE MOVIE TYMES, INC.",LAKE OZARK,NaN,65049,CENTRAL BK OF LAKE OF OZARKS,MO,532230,4-Jan-90,1990,60,1,1.0,0,0,1,0,N,N,NaN,31-Jan-90,"$75,000.00",$0.00,P I F,$0.00,"$75,000.00","$67,500.00"
869948,9390913007,"OLSON ELECTRIC SERVICE, INC.",A452638533,NaN,75236,PROSPERITY BANK,TX,235310,9-Jul-96,1996,60,17,1.0,0,0,1,0,N,Y,NaN,31-Jul-96,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
871847,9416233003,METRO SHEETMETAL & ERECTION,A452638533,NaN,76052,PROSPERITY BANK,TX,235610,23-Jul-96,1996,84,3,1.0,0,0,1,0,N,Y,NaN,31-Jul-96,"$80,000.00",$0.00,P I F,$0.00,"$80,000.00","$64,000.00"
885335,9690723000,"VERANDA INTERIORS, INC.",A452638533,NaN,76645,PROSPERITY BANK,TX,0,24-Oct-96,1997,120,3,1.0,0,0,1,0,N,N,NaN,31-Jan-97,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$80,000.00"

We have a few null values for "State". For those rows where State is null, perhaps we can deduce the State from other rows that has the same Zip code and State populated.

In [17]:
df.loc[df['State'].isnull(), 'Zip'].unique()

array([ 8070,     0, 95682, 96205, 67219, 79925, 33410, 54205, 54025,
       84124, 65049, 75236, 76052, 76645])

In [18]:
# Sort the DataFrame by 'Zip Code' in ascending order
df_sorted = df.sort_values(by='Zip')

# Group the DataFrame by 'Zip Code'
grouped = df_sorted.groupby('Zip')

# Fill the null 'State' values with the corresponding non-null 'State' value within each group
df_sorted['State'] = grouped['State'].fillna(method='ffill')
df = df_sorted.sort_index()

/tmp/ipykernel_8954/1348159848.py:8: FutureWarning: SeriesGroupBy.fillna is deprecated and will be removed in a future version. Use obj.ffill() or obj.bfill() for forward or backward filling instead. If you want to fill with a single value, use Series.fillna instead
  df_sorted['State'] = grouped['State'].fillna(method='ffill')
/tmp/ipykernel_8954/1348159848.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_sorted['State'] = grouped['State'].fillna(method='ffill')
/tmp/ipykernel_8954/1348159848.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_sorted['State'] = grouped['State'].fillna(method='ffill')

In [19]:
df.shape

(899164, 27)

In [20]:
df.isnull().sum()

LoanNr_ChkDgt             0
Name                      0
City                      0
State                     1
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

We have one State that is still null, let's take a closer look.

In [21]:
df.loc[df['State'].isnull()]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
306274,3113583009,THE COMPUTER EDGE,"BOX 267, APO AP",NaN,96205,RTC/WESTPORT SAVINGS BANK,CA,541511,21-Jan-88,1988,73,8,1.0,0,0,0,0,N,N,18-Sep-93,16-Mar-88,"$50,000.00",$0.00,CHGOFF,"$30,589.00","$50,000.00","$45,000.00"

When we do a bit of research on that City, we find that the City is in the "Armed Forces Pacific" State. So we populate that value with "AP".

In [22]:
df = df.fillna({'State':'AP'})

In [23]:
df.isnull().sum()

LoanNr_ChkDgt             0
Name                      0
City                      0
State                     0
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

Let's look at "Bank".

In [24]:
df.loc[df['Bank'].isnull()]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
407,1003113008,MOUNTVILLE WALL PAPER CO,MOUNTVILLE,PA,17554,NaN,NaN,0,27-Jun-80,1980,120,57,2.0,0,0,0,0,N,N,4-Jun-90,25-Jul-80,"$600,000.00",$0.00,CHGOFF,"$320,976.00","$600,000.00","$499,998.00"
611,1004503009,SMITHFIELD GLASS INC,DANIELSON,CT,6239,NaN,NaN,0,7-Jul-80,1980,180,30,2.0,0,0,0,0,N,N,22-May-90,NaN,$0.00,$0.00,NaN,"$144,461.00","$300,000.00","$300,000.00"
680,1004933009,TAYLOR BROTHERS COMPANY,CLEVELAND,OH,44114,NaN,NaN,0,8-Jul-80,1980,120,18,2.0,0,0,0,0,N,N,8-Feb-89,21-Aug-80,"$275,000.00",$0.00,CHGOFF,"$181,916.00","$275,000.00","$247,500.00"
740,1005273003,"GENERAL SOLAR COMPANY, INC.",SIOUX CITY,IA,51111,NaN,NaN,0,3-Jul-80,1980,120,3,1.0,0,0,0,0,N,N,8-Feb-90,NaN,$0.00,$0.00,NaN,"$142,666.00","$350,000.00","$350,000.00"
6569,1044653002,SON'S PARTY STORE,KENTWOOD,MI,49508,NaN,NaN,0,11-Sep-80,1980,180,1,2.0,0,0,0,0,N,N,27-Oct-93,NaN,$0.00,$0.00,NaN,"$18,775.00","$20,000.00","$20,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888537,9772941008,INTERNATIONAL PREHEATER COMPAN,SEATTLE,WA,98188,NaN,NaN,0,14-Mar-79,1979,84,5,1.0,0,0,0,0,N,N,9-Dec-93,NaN,$0.00,$0.00,NaN,"$196,974.00","$350,000.00","$350,000.00"
888681,9775961009,MANDARIN INTERNATIONAL CO INC,SEATTLE,WA,98104,NaN,NaN,0,22-Nov-79,1980,24,1,1.0,0,0,0,0,N,N,8-Apr-89,11-Jan-80,"$55,000.00",$0.00,CHGOFF,$0.00,"$55,000.00","$49,500.00"
897114,9950351001,CLUB 191,PORTSMOUTH,IA,51565,NaN,NaN,0,24-Jul-78,1978,61,3,2.0,0,0,0,0,N,N,23-Nov-88,6-Dec-78,"$65,000.00",$0.00,P I F,"$20,878.00","$65,000.00","$48,750.00"
897474,9958533004,"ROMES CONSTRUCTION, INC.",FORT WAYNE,IN,46804,NaN,NaN,233210,12-Feb-97,1997,3,1,2.0,0,0,1,0,N,N,NaN,30-Apr-97,"$25,000.00",$0.00,P I F,$0.00,"$25,000.00","$20,000.00"
897749,9964143001,"KEN-TEX SALES, INC.",DALLAS,TX,75229,NaN,NaN,0,13-Feb-97,1997,240,150,1.0,0,0,1,0,N,N,NaN,30-Apr-97,"$509,400.00",$0.00,P I F,$0.00,"$509,400.00","$382,050.00"

In [25]:
df['Bank'].nunique()

5802

We will treat "Bank" in the same way as "Name" and "City", populate null values with "Unknown Bank".

In [26]:
df = df.fillna({'Bank':'Unknown Bank'})

In [27]:
df.isnull().sum()

LoanNr_ChkDgt             0
Name                      0
City                      0
State                     0
Zip                       0
Bank                      0
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

Next we look at "BankState".

In [28]:
df.loc[df['BankState'].isnull()]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
407,1003113008,MOUNTVILLE WALL PAPER CO,MOUNTVILLE,PA,17554,Unknown Bank,NaN,0,27-Jun-80,1980,120,57,2.0,0,0,0,0,N,N,4-Jun-90,25-Jul-80,"$600,000.00",$0.00,CHGOFF,"$320,976.00","$600,000.00","$499,998.00"
611,1004503009,SMITHFIELD GLASS INC,DANIELSON,CT,6239,Unknown Bank,NaN,0,7-Jul-80,1980,180,30,2.0,0,0,0,0,N,N,22-May-90,NaN,$0.00,$0.00,NaN,"$144,461.00","$300,000.00","$300,000.00"
680,1004933009,TAYLOR BROTHERS COMPANY,CLEVELAND,OH,44114,Unknown Bank,NaN,0,8-Jul-80,1980,120,18,2.0,0,0,0,0,N,N,8-Feb-89,21-Aug-80,"$275,000.00",$0.00,CHGOFF,"$181,916.00","$275,000.00","$247,500.00"
740,1005273003,"GENERAL SOLAR COMPANY, INC.",SIOUX CITY,IA,51111,Unknown Bank,NaN,0,3-Jul-80,1980,120,3,1.0,0,0,0,0,N,N,8-Feb-90,NaN,$0.00,$0.00,NaN,"$142,666.00","$350,000.00","$350,000.00"
6569,1044653002,SON'S PARTY STORE,KENTWOOD,MI,49508,Unknown Bank,NaN,0,11-Sep-80,1980,180,1,2.0,0,0,0,0,N,N,27-Oct-93,NaN,$0.00,$0.00,NaN,"$18,775.00","$20,000.00","$20,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888537,9772941008,INTERNATIONAL PREHEATER COMPAN,SEATTLE,WA,98188,Unknown Bank,NaN,0,14-Mar-79,1979,84,5,1.0,0,0,0,0,N,N,9-Dec-93,NaN,$0.00,$0.00,NaN,"$196,974.00","$350,000.00","$350,000.00"
888681,9775961009,MANDARIN INTERNATIONAL CO INC,SEATTLE,WA,98104,Unknown Bank,NaN,0,22-Nov-79,1980,24,1,1.0,0,0,0,0,N,N,8-Apr-89,11-Jan-80,"$55,000.00",$0.00,CHGOFF,$0.00,"$55,000.00","$49,500.00"
897114,9950351001,CLUB 191,PORTSMOUTH,IA,51565,Unknown Bank,NaN,0,24-Jul-78,1978,61,3,2.0,0,0,0,0,N,N,23-Nov-88,6-Dec-78,"$65,000.00",$0.00,P I F,"$20,878.00","$65,000.00","$48,750.00"
897474,9958533004,"ROMES CONSTRUCTION, INC.",FORT WAYNE,IN,46804,Unknown Bank,NaN,233210,12-Feb-97,1997,3,1,2.0,0,0,1,0,N,N,NaN,30-Apr-97,"$25,000.00",$0.00,P I F,$0.00,"$25,000.00","$20,000.00"
897749,9964143001,"KEN-TEX SALES, INC.",DALLAS,TX,75229,Unknown Bank,NaN,0,13-Feb-97,1997,240,150,1.0,0,0,1,0,N,N,NaN,30-Apr-97,"$509,400.00",$0.00,P I F,$0.00,"$509,400.00","$382,050.00"

Here we employ the same strategy as "State", try to determine the State based on the same Zip code populated in other rows with "BankState" populated.

In [29]:
df_sorted = df.sort_values(by='Bank')

grouped = df_sorted.groupby('Bank')

df_sorted['BankState'] = grouped['BankState'].fillna(method='ffill')

df = df_sorted.sort_index()

/tmp/ipykernel_8954/3212975681.py:5: FutureWarning: SeriesGroupBy.fillna is deprecated and will be removed in a future version. Use obj.ffill() or obj.bfill() for forward or backward filling instead. If you want to fill with a single value, use Series.fillna instead
  df_sorted['BankState'] = grouped['BankState'].fillna(method='ffill')
/tmp/ipykernel_8954/3212975681.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_sorted['BankState'] = grouped['BankState'].fillna(method='ffill')
/tmp/ipykernel_8954/3212975681.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_sorted['BankState'] = grouped['BankState'].fillna(method='ffill')

In [30]:
df.loc[df['BankState'].isnull()]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
407,1003113008,MOUNTVILLE WALL PAPER CO,MOUNTVILLE,PA,17554,Unknown Bank,NaN,0,27-Jun-80,1980,120,57,2.0,0,0,0,0,N,N,4-Jun-90,25-Jul-80,"$600,000.00",$0.00,CHGOFF,"$320,976.00","$600,000.00","$499,998.00"
611,1004503009,SMITHFIELD GLASS INC,DANIELSON,CT,6239,Unknown Bank,NaN,0,7-Jul-80,1980,180,30,2.0,0,0,0,0,N,N,22-May-90,NaN,$0.00,$0.00,NaN,"$144,461.00","$300,000.00","$300,000.00"
680,1004933009,TAYLOR BROTHERS COMPANY,CLEVELAND,OH,44114,Unknown Bank,NaN,0,8-Jul-80,1980,120,18,2.0,0,0,0,0,N,N,8-Feb-89,21-Aug-80,"$275,000.00",$0.00,CHGOFF,"$181,916.00","$275,000.00","$247,500.00"
740,1005273003,"GENERAL SOLAR COMPANY, INC.",SIOUX CITY,IA,51111,Unknown Bank,NaN,0,3-Jul-80,1980,120,3,1.0,0,0,0,0,N,N,8-Feb-90,NaN,$0.00,$0.00,NaN,"$142,666.00","$350,000.00","$350,000.00"
6569,1044653002,SON'S PARTY STORE,KENTWOOD,MI,49508,Unknown Bank,NaN,0,11-Sep-80,1980,180,1,2.0,0,0,0,0,N,N,27-Oct-93,NaN,$0.00,$0.00,NaN,"$18,775.00","$20,000.00","$20,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888537,9772941008,INTERNATIONAL PREHEATER COMPAN,SEATTLE,WA,98188,Unknown Bank,NaN,0,14-Mar-79,1979,84,5,1.0,0,0,0,0,N,N,9-Dec-93,NaN,$0.00,$0.00,NaN,"$196,974.00","$350,000.00","$350,000.00"
888681,9775961009,MANDARIN INTERNATIONAL CO INC,SEATTLE,WA,98104,Unknown Bank,NaN,0,22-Nov-79,1980,24,1,1.0,0,0,0,0,N,N,8-Apr-89,11-Jan-80,"$55,000.00",$0.00,CHGOFF,$0.00,"$55,000.00","$49,500.00"
897114,9950351001,CLUB 191,PORTSMOUTH,IA,51565,Unknown Bank,NaN,0,24-Jul-78,1978,61,3,2.0,0,0,0,0,N,N,23-Nov-88,6-Dec-78,"$65,000.00",$0.00,P I F,"$20,878.00","$65,000.00","$48,750.00"
897474,9958533004,"ROMES CONSTRUCTION, INC.",FORT WAYNE,IN,46804,Unknown Bank,NaN,233210,12-Feb-97,1997,3,1,2.0,0,0,1,0,N,N,NaN,30-Apr-97,"$25,000.00",$0.00,P I F,$0.00,"$25,000.00","$20,000.00"
897749,9964143001,"KEN-TEX SALES, INC.",DALLAS,TX,75229,Unknown Bank,NaN,0,13-Feb-97,1997,240,150,1.0,0,0,1,0,N,N,NaN,30-Apr-97,"$509,400.00",$0.00,P I F,$0.00,"$509,400.00","$382,050.00"

For those rows that we were not able to populate, we go ahead and drop those.

In [31]:
df = df.dropna(subset=['BankState'], how='all')
df.shape

(897598, 27)

In [32]:
df.isnull().sum()

LoanNr_ChkDgt             0
Name                      0
City                      0
State                     0
Zip                       0
Bank                      0
BankState                 0
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4519
LowDoc                 2582
ChgOffDate           735029
DisbursementDate       2313
DisbursementGross         0
BalanceGross              0
MIS_Status             1944
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

We drop rows with null values for "NewExist".

In [33]:
df = df.dropna(subset=['NewExist'], how='all')
df.shape

(897462, 27)

In [34]:
df['RevLineCr'].unique()

array(['N', '0', 'Y', 'T', nan, '`', ',', '1', 'C', '3', '2', 'R', '7',
       'A', '5', '.', '4', '-', 'Q'], dtype=object)

For "RevLineCr", only Y and N are valid entries, the others are invalid. So we keep only the rows populated with Y and N and discard the rest.

In [35]:
df = df[df['RevLineCr'].isin(['Y', 'N'])]
df['RevLineCr'].unique()

array(['N', 'Y'], dtype=object)

In [36]:
df.shape

(620012, 27)

In [37]:
df.isnull().sum()

LoanNr_ChkDgt             0
Name                      0
City                      0
State                     0
Zip                       0
Bank                      0
BankState                 0
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                  0
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr                 0
LowDoc                 2528
ChgOffDate           504277
DisbursementDate       2161
DisbursementGross         0
BalanceGross              0
MIS_Status             1718
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [38]:
df['LowDoc'].unique()

array(['Y', 'N', 'C', '1', nan, 'S', 'R', 'A', '0'], dtype=object)

We treat LowDoc similar to RevLineCr.

In [39]:
df = df[df['LowDoc'].isin(['Y', 'N'])]
df['LowDoc'].unique()

array(['Y', 'N'], dtype=object)

In [40]:
df.shape

(614909, 27)

In [41]:
df.isnull().sum()

LoanNr_ChkDgt             0
Name                      0
City                      0
State                     0
Zip                       0
Bank                      0
BankState                 0
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                  0
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr                 0
LowDoc                    0
ChgOffDate           500606
DisbursementDate       2123
DisbursementGross         0
BalanceGross              0
MIS_Status             1712
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [42]:
df[df['DisbursementDate'].isnull()]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
452,1003455008,"Symmetry Systems, Inc.",Latham,NY,12110,KEYBANK NATIONAL ASSOCIATION,OH,0,27-Nov-98,1999,60,3,1.0,0,0,1,0,Y,N,NaN,NaN,"$50,000.00",$0.00,P I F,$0.00,"$50,000.00","$25,000.00"
1183,1008145008,Virtuo Group Corporation,The Woodlands,TX,77382,WELLS FARGO BANK NATL ASSOC,TX,541990,9-Oct-03,2004,13,2,2.0,0,0,1,2,Y,N,NaN,NaN,"$190,000.00",$0.00,P I F,$0.00,"$190,000.00","$95,000.00"
1382,1009355003,Fairfax Family Physical Therap,FAIRFAX,VT,5454,"TD BANK, NATIONAL ASSOCIATION",DE,621498,12-Dec-03,2004,84,1,2.0,0,0,1,2,Y,N,NaN,NaN,"$10,000.00",$0.00,P I F,$0.00,"$10,000.00","$5,000.00"
1525,1010505008,"Haberle Steel, Inc.",CONSHOHOCKEN,PA,19428,UNIVEST BANK AND TRUST CO.,PA,331221,16-Mar-04,2004,60,8,2.0,0,0,1,2,Y,N,NaN,NaN,"$75,000.00",$0.00,P I F,$0.00,"$75,000.00","$37,500.00"
1543,1010605003,Anthony R. Gochee dba Tony's D,EAST HARTFORD,CT,6118,"TD BANK, NATIONAL ASSOCIATION",DE,722310,19-Mar-04,2004,84,1,1.0,0,0,1,1,Y,N,NaN,NaN,"$10,000.00",$0.00,P I F,$0.00,"$10,000.00","$5,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879528,9544481010,MORLEY SUPERMKT. & VARIETY STO,MORLEY,MI,49336,MERCANTILE BANK OF MICHIGAN,MI,0,10-May-78,1978,120,28,1.0,0,0,0,0,N,N,25-Feb-91,NaN,$0.00,$0.00,NaN,"$89,611.00","$100,000.00","$90,000.00"
884653,9667413003,ALAN R. FINSTON,BLAINE,WA,98230,U.S. BANK NATIONAL ASSOCIATION,OH,0,17-Oct-96,1997,84,2,2.0,0,0,1,0,N,Y,NaN,NaN,$0.00,$0.00,NaN,$0.00,"$50,000.00","$40,000.00"
885904,9708013009,GATTO BROTHERS PAVING,NEWTOWN SQUARE,PA,19073,"TD BANK, NATIONAL ASSOCIATION",PA,234110,29-Oct-96,1997,84,2,1.0,0,0,1,0,N,Y,NaN,NaN,$0.00,$0.00,NaN,$0.00,"$40,000.00","$32,000.00"
888468,9771761000,CAMERAS UNLIMITED % R WOODY,BELLEVUE,WA,98008,U.S. BANK NATIONAL ASSOCIATION,OH,0,14-Dec-78,1979,72,5,1.0,0,0,0,0,N,N,16-Jul-89,NaN,"$150,000.00",$0.00,CHGOFF,"$100,469.00","$150,000.00","$135,000.00"
897494,9958993002,DOUGLAS WATANABE DDS INC,CREVE COEUR,MO,63141,U.S. BANK NATIONAL ASSOCIATION,MO,621210,12-Feb-97,1997,120,13,1.0,0,0,1,0,N,N,NaN,NaN,"$230,000.00",$0.00,P I F,$0.00,"$230,000.00","$172,500.00"

We drop rows where "DisbursementDate" and "MIS_Status" are null

In [43]:
df = df.dropna(subset=['DisbursementDate'], how='all')

In [44]:
df['MIS_Status'].unique()

array(['P I F', 'CHGOFF', nan], dtype=object)

In [45]:
df = df.dropna(subset=['MIS_Status'], how='all')

In [46]:
df.isnull().sum()

LoanNr_ChkDgt             0
Name                      0
City                      0
State                     0
Zip                       0
Bank                      0
BankState                 0
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                  0
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr                 0
LowDoc                    0
ChgOffDate           497393
DisbursementDate          0
DisbursementGross         0
BalanceGross              0
MIS_Status                0
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

"ChgOffDate" is the date a loan goes into default. For those loans that did not go into default, those values would be null.

Also, as the aim is to predict if a loan will go into default, we would not use this column in any predictive analysis as that column would indicate a loan has already gone into default. This column would eventually be removed for predictive analysis, however for now we will keep it for any EDA.

In [47]:
df.describe()

,LoanNr_ChkDgt,Zip,NAICS,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural
count,6.111900e+05,611190.000000,611190.000000,611190.000000,611190.000000,611190.000000,611190.000000,611190.000000,611190.000000,611190.000000
mean,4.573887e+09,52869.663198,375839.624729,105.206438,11.993645,1.268624,11.150606,13.349058,1987.787503,0.692341
std,2.525889e+09,31045.654774,264343.824604,75.591826,75.653861,0.446752,285.636696,285.703397,10903.847788,0.652614
min,1.000014e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.384568e+09,26062.000000,0.000000,60.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,4.131170e+09,54935.000000,442299.000000,84.000000,4.000000,1.000000,0.000000,0.000000,1.000000,1.000000
75%,6.483467e+09,81419.000000,541940.000000,120.000000,11.000000,2.000000,1.000000,4.000000,1.000000,1.000000
max,9.996003e+09,99999.000000,928120.000000,527.000000,9999.000000,2.000000,8800.000000,8800.000000,99999.000000,2.000000

The minimum value for "Zip" is zero, which should not be the case. The smallest Zip code in the US is 501. Let's check for Zip codes below that value.

In [48]:
df.loc[df['Zip'] < 501, 'Zip'].unique()

array([  0,   9,   8,   1, 204, 438,   2, 432, 128,  98, 182,   4, 345,
       417, 207,   7,   5, 465, 211,   3,  92,   6,  38, 301])

In [49]:
df.loc[df['Zip'] < 501, 'Zip'].count()

223

These are all invalid Zip codes, so we drop these rows accordingly.

In [50]:
df  = df.drop(df[df['Zip'] < 501].index)

For NAICS, the first 2 numbers represent the Industry, so we extract the 1st 2 numbers from the NAICS values.

In [51]:
df['NAICS'] = df['NAICS'].astype(str).str[:2]

In [52]:
df['NAICS']

0         45
1         72
2         62
3          0
4          0
          ..
899158     0
899160    45
899161    33
899162     0
899163     0
Name: NAICS, Length: 610967, dtype: object

In [53]:
df['NAICS'].unique()

array(['45', '72', '62', '0', '33', '81', '23', '44', '42', '61', '53',
       '54', '51', '31', '52', '32', '56', '71', '48', '11', '92', '22',
       '49', '55', '21'], dtype=object)

In [54]:
df['NAICS'] = df['NAICS'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 610967 entries, 0 to 899163
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LoanNr_ChkDgt      610967 non-null  int64
 1   Name               610967 non-null  object
 2   City               610967 non-null  object
 3   State              610967 non-null  object
 4   Zip                610967 non-null  int64
 5   Bank               610967 non-null  object
 6   BankState          610967 non-null  object
 7   NAICS              610967 non-null  int64
 8   ApprovalDate       610967 non-null  object
 9   ApprovalFY         610967 non-null  object
 10  Term               610967 non-null  int64
 11  NoEmp              610967 non-null  int64
 12  NewExist           610967 non-null  float64
 13  CreateJob          610967 non-null  int64
 14  RetainedJob        610967 non-null  int64
 15  FranchiseCode      610967 non-null  int64
 16  UrbanRural         610967 non-null  int64
 17  RevLineCr          610967 non-null  object
 18  LowDoc             610967 non-null  object
 19  ChgOffDate         113655 non-null  object
 20  DisbursementDate   610967 non-null  object
 21  DisbursementGross  610967 non-null  object
 22  BalanceGross       610967 non-null  object
 23  MIS_Status         610967 non-null  object
 24  ChgOffPrinGr       610967 non-null  object
 25  GrAppv             610967 non-null  object
 26  SBA_Appv           610967 non-null  object
dtypes: float64(1), int64(9), object(17)
memory usage: 130.5+ MB

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 610967 entries, 0 to 899163
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LoanNr_ChkDgt      610967 non-null  int64
 1   Name               610967 non-null  object
 2   City               610967 non-null  object
 3   State              610967 non-null  object
 4   Zip                610967 non-null  int64
 5   Bank               610967 non-null  object
 6   BankState          610967 non-null  object
 7   NAICS              610967 non-null  int64
 8   ApprovalDate       610967 non-null  object
 9   ApprovalFY         610967 non-null  object
 10  Term               610967 non-null  int64
 11  NoEmp              610967 non-null  int64
 12  NewExist           610967 non-null  float64
 13  CreateJob          610967 non-null  int64
 14  RetainedJob        610967 non-null  int64
 15  FranchiseCode      610967 non-null  int64
 16  UrbanRural         610967 non-null  int64
 17  RevLineCr          610967 non-null  object
 18  LowDoc             610967 non-null  object
 19  ChgOffDate         113655 non-null  object
 20  DisbursementDate   610967 non-null  object
 21  DisbursementGross  610967 non-null  object
 22  BalanceGross       610967 non-null  object
 23  MIS_Status         610967 non-null  object
 24  ChgOffPrinGr       610967 non-null  object
 25  GrAppv             610967 non-null  object
 26  SBA_Appv           610967 non-null  object
dtypes: float64(1), int64(9), object(17)
memory usage: 130.5+ MB

In [56]:
df.describe()

,LoanNr_ChkDgt,Zip,NAICS,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural
count,6.109670e+05,610967.000000,610967.000000,610967.000000,610967.000000,610967.000000,610967.000000,610967.000000,610967.000000,610967.000000
mean,4.573889e+09,52888.954210,37.338092,105.216499,11.994358,1.268610,11.154414,13.353256,1988.252847,0.692465
std,2.525866e+09,31034.891908,26.377194,75.590628,75.667220,0.446742,285.688743,285.755431,10904.872440,0.652607
min,1.000014e+09,501.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.384570e+09,26105.000000,0.000000,60.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,4.131105e+09,54935.000000,44.000000,84.000000,4.000000,1.000000,0.000000,0.000000,1.000000,1.000000
75%,6.483864e+09,81435.000000,54.000000,120.000000,11.000000,2.000000,1.000000,4.000000,1.000000,1.000000
max,9.996003e+09,99999.000000,92.000000,527.000000,9999.000000,2.000000,8800.000000,8800.000000,99999.000000,2.000000

In [57]:
df['FranchiseCode'].unique()

array([    1,     0, 15100, ..., 53310, 48256, 15930])

For Franchise, we are only interested to know if it is a franchise or not. As both 1 and 0 mean not a franchise, we replace 1 with 0 (so 0 means no franchise) and all other values we replace with 1 to indicate that business is a franchise.

In [58]:
df['FranchiseCode'] = df['FranchiseCode'].replace(1, 0)

In [59]:
df.loc[~df['FranchiseCode'].isin([0]), 'FranchiseCode'] = 1

In [60]:
df['FranchiseCode'].unique()

array([0, 1])

In [61]:
df.describe(include='O')

,Name,City,State,Bank,BankState,ApprovalDate,ApprovalFY,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
count,610967,610967,610967,610967,610967,610967,610967,610967,610967,113655,610967,610967,610967,610967,610967,610967,610967
unique,550241,28445,52,5469,55,9763,64,2,2,6261,8201,106714,8,2,60728,17212,31137
top,SUBWAY,LOS ANGELES,CA,BANK OF AMERICA NATL ASSOC,NC,7-Jul-93,2007,N,N,13-Mar-10,31-Jan-95,"$50,000.00",$0.00,P I F,$0.00,"$50,000.00","$25,000.00"
freq,393,6920,80893,68609,63030,1119,57032,412960,553800,667,9099,30038,610960,500493,497960,53684,40191

For all financial columns we convert these to integers.

In [62]:
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].str.replace('$', '')
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].str.replace(',', '')
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].astype('float')
df['GrAppv'] = df['GrAppv'].str.replace('$', '')
df['GrAppv'] = df['GrAppv'].str.replace(',', '')
df['GrAppv'] = df['GrAppv'].astype('float')
df['SBA_Appv'] = df['SBA_Appv'].str.replace('$', '')
df['SBA_Appv'] = df['SBA_Appv'].str.replace(',', '')
df['SBA_Appv'] = df['SBA_Appv'].astype('float')
df['DisbursementGross'] = df['DisbursementGross'].str.replace('$', '')
df['DisbursementGross'] = df['DisbursementGross'].str.replace(',', '')
df['DisbursementGross'] = df['DisbursementGross'].astype('float')
df['BalanceGross'] = df['BalanceGross'].str.replace('$', '')
df['BalanceGross'] = df['BalanceGross'].str.replace(',', '')
df['BalanceGross'] = df['BalanceGross'].astype('float')

In [63]:
df.describe()

,LoanNr_ChkDgt,Zip,NAICS,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,DisbursementGross,BalanceGross,ChgOffPrinGr,GrAppv,SBA_Appv
count,6.109670e+05,610967.000000,610967.000000,610967.000000,610967.000000,610967.000000,610967.000000,610967.000000,610967.000000,610967.000000,6.109670e+05,610967.000000,6.109670e+05,6.109670e+05,6.109670e+05
mean,4.573889e+09,52888.954210,37.338092,105.216499,11.994358,1.268610,11.154414,13.353256,0.042136,0.692465,1.846721e+05,3.299263,1.174329e+04,1.717038e+05,1.343523e+05
std,2.525866e+09,31034.891908,26.377194,75.590628,75.667220,0.446742,285.688743,285.755431,0.200901,0.652607,2.671451e+05,1662.637863,5.544170e+04,2.578512e+05,2.107833e+05
min,1.000014e+09,501.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000e+03,0.000000,0.000000e+00,1.000000e+03,5.000000e+02
25%,2.384570e+09,26105.000000,0.000000,60.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000e+04,0.000000,0.000000e+00,3.000000e+04,1.750000e+04
50%,4.131105e+09,54935.000000,44.000000,84.000000,4.000000,1.000000,0.000000,0.000000,0.000000,1.000000,9.185100e+04,0.000000,0.000000e+00,7.500000e+04,5.000000e+04
75%,6.483864e+09,81435.000000,54.000000,120.000000,11.000000,2.000000,1.000000,4.000000,0.000000,1.000000,2.180000e+05,0.000000,0.000000e+00,2.000000e+05,1.572500e+05
max,9.996003e+09,99999.000000,92.000000,527.000000,9999.000000,2.000000,8800.000000,8800.000000,1.000000,2.000000,1.144632e+07,996262.000000,3.512596e+06,5.000000e+06,4.500000e+06

In [64]:
pd.set_option('display.float_format', '{:.0f}'.format)
df.describe()

,LoanNr_ChkDgt,Zip,NAICS,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,DisbursementGross,BalanceGross,ChgOffPrinGr,GrAppv,SBA_Appv
count,610967,610967,610967,610967,610967,610967,610967,610967,610967,610967,610967,610967,610967,610967,610967
mean,4573889229,52889,37,105,12,1,11,13,0,1,184672,3,11743,171704,134352
std,2525866075,31035,26,76,76,0,286,286,0,1,267145,1663,55442,257851,210783
min,1000014003,501,0,0,0,0,0,0,0,0,4000,0,0,1000,500
25%,2384570010,26105,0,60,2,1,0,0,0,0,40000,0,0,30000,17500
50%,4131105006,54935,44,84,4,1,0,0,0,1,91851,0,0,75000,50000
75%,6483864007,81435,54,120,11,2,1,4,0,1,218000,0,0,200000,157250
max,9996003010,99999,92,527,9999,2,8800,8800,1,2,11446325,996262,3512596,5000000,4500000

In [65]:
df.describe(include='O')

,Name,City,State,Bank,BankState,ApprovalDate,ApprovalFY,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,MIS_Status
count,610967,610967,610967,610967,610967,610967,610967,610967,610967,113655,610967,610967
unique,550241,28445,52,5469,55,9763,64,2,2,6261,8201,2
top,SUBWAY,LOS ANGELES,CA,BANK OF AMERICA NATL ASSOC,NC,7-Jul-93,2007,N,N,13-Mar-10,31-Jan-95,P I F
freq,393,6920,80893,68609,63030,1119,57032,412960,553800,667,9099,500493

Let's look at NAICS where the value is 0 i.e. the industry is unknown.

In [66]:
df.loc[df['NAICS'] == 0]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,60,2,1,0,0,0,0,N,Y,NaN,30-Jun-97,35000,0,P I F,0,35000,28000
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,240,14,1,7,7,0,0,N,N,NaN,14-May-97,229000,0,P I F,0,229000,229000
6,1000093009,MIDDLE ATLANTIC SPORTS CO INC,UNION,NJ,7083,WELLS FARGO BANK NATL ASSOC,SD,0,2-Jun-80,1980,45,45,2,0,0,0,0,N,N,24-Jun-91,22-Jul-80,600000,0,CHGOFF,208959,600000,499998
9,1000124001,INTEXT BUILDING SYS LLC,GLASTONBURY,CT,6073,WEBSTER BANK NATL ASSOC,CT,0,28-Feb-97,1997,84,3,2,0,0,0,0,N,Y,NaN,30-Apr-97,70000,0,P I F,0,70000,56000
13,1000154010,"ORCHARD CAFE & BAKERY, INC.",SLATERSVILLE,RI,2876,CITIZENS BANK NATL ASSOC,RI,0,28-Feb-97,1997,120,2,2,0,0,0,0,N,N,NaN,31-May-97,370000,0,P I F,0,370000,277500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899151,9995393009,"FUTURE CONTRACTING SERVICES, I",DALLAS,PA,18612,"PNC BANK, NATIONAL ASSOCIATION",PA,0,27-Feb-97,1997,12,2,2,0,0,0,0,Y,N,NaN,31-Oct-00,80000,0,P I F,0,80000,40000
899152,9995403010,D D MUDD,IDAHO FALLS,ID,83405,BANK OF IDAHO,ID,0,27-Feb-97,1997,60,10,1,0,0,0,0,N,Y,NaN,31-Mar-97,38000,0,P I F,0,38000,30400
899158,9995563001,SHADES WINDOW TINTING AUTO ALA,IRVING,TX,75062,LOANS FROM OLD CLOSED LENDERS,DC,0,27-Feb-97,1997,84,5,2,0,0,0,0,N,Y,NaN,30-Jun-97,79000,0,P I F,0,79000,63200
899162,9995973006,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,27-Feb-97,1997,60,6,1,0,0,0,0,N,Y,8-Mar-00,31-Mar-97,75000,0,CHGOFF,46383,75000,60000
899163,9996003010,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,27-Feb-97,1997,48,1,2,0,0,0,0,N,N,NaN,31-May-97,30000,0,P I F,0,30000,24000

We dont know what these industries are. We could probably guess from the name of the company. Let's look for keywords in the company name that occur the most frequently.

In [72]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from collections import Counter

# Download NLTK data (only need to do this once)
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to /home/s-thorez/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     /home/s-thorez/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [73]:
# Combine all text from the column into a single string
all_text = ' '.join(df.loc[df['NAICS'] == 0, 'Name'])

# Tokenize the text
words = word_tokenize(all_text)

# Count the occurrences of each word
word_counts = Counter(words)

# Print the most common words and their counts
most_common = word_counts.most_common(60)
for word, count in most_common:
    print(f'{word}: {count}')

,: 50440
INC.: 29982
&: 20421
INC: 20165
'S: 15068
.: 12239
THE: 5539
OF: 4462
COMPANY: 3928
AND: 3251
INN: 3053
CO.: 3000
SERVICE: 2884
RESTAURANT: 2541
SERVICES: 2483
ENTERPRISES: 2393
CENTER: 2289
SUPPLY: 2280
CO: 2174
LLC: 2152
A: 2046
CORPORATION: 1869
MARKET: 1710
ASSOCIATES: 1604
AUTO: 1597
SYSTEMS: 1581
PIZZA: 1551
J: 1536
PRODUCTS: 1527
MOTEL: 1508
HOME: 1479
IN: 1451
STORE: 1388
CAFE: 1317
FOOD: 1258
PRINTING: 1180
SHOP: 1160
CORP.: 1111
HOUSE: 1095
CARE: 1088
B: 1075
COUNTRY: 1072
L: 1071
C: 1048
INDUSTRIES: 1047
M: 1044
GROUP: 1040
CONSTRUCTION: 1033
CORP: 1019
TRUCKING: 1018
S: 1012
MACHINE: 1002
D: 996
I: 990
R: 987
(: 947
MEDICAL: 937
INTERNATIONAL: 935
AMERICAN: 929
MANUFACTURING: 910

Let's start with companies with "INN" or "HOTEL" in the company name.

In [74]:
df[df['Name'].str.contains(' INN|MOTEL', case=False)]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
8,1000104006,TURTLE BEACH INN,PORT SAINT JOE,FL,32456,CENTENNIAL BANK,FL,72,28-Feb-97,1997,297,2,2,0,0,0,0,N,N,NaN,31-Jul-97,305000,0,P I F,0,305000,228750
110,1001054006,"DAYS INN OF SOUTH BEND, L.P.",SOUTH BEND,IN,46637,"READYCAP LENDING, LLC",CA,0,3-Mar-97,1997,161,20,2,0,0,1,0,N,N,27-Sep-13,31-May-97,2000000,0,CHGOFF,1311939,2000000,750000
793,1005606005,"THE BUTTERSBURG INN, LLC",UNION BRIDGE,MD,21791,SUSQUEHANNA BANK,MD,72,8-Feb-06,2006,240,22,1,0,0,0,2,N,N,NaN,31-Mar-06,210000,0,P I F,0,210000,157500
1154,1007934000,NEW CAPITAL MOTEL,SALT LAKE CITY,UT,84115,ZIONS FIRST NATIONAL BANK,UT,0,4-Mar-97,1997,180,2,1,0,0,0,0,N,N,NaN,8-Apr-97,600000,0,P I F,0,700000,525000
1411,1009514007,WESTWOOD MOTEL,ST. JOSEPH,IN,46619,NATL REP. BK OF CHICAGO,IL,0,4-Mar-97,1997,240,1,2,0,0,0,0,N,N,NaN,31-May-97,179000,0,P I F,0,179000,134250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898609,9983783000,RIDGELAND INN AND SUITES,RICHLAND,MS,39218,SMALL BUS. LOAN SOURCE LLC,TX,0,24-Feb-97,1997,306,10,2,0,0,0,0,N,N,NaN,31-Jan-98,866000,0,P I F,0,866000,649500
898701,9986193006,VILLAGE INN MOTEL,WOODBRIDGE,NJ,7095,CATHAY BANK,NY,0,25-Feb-97,1997,60,4,1,0,0,0,0,N,Y,NaN,28-Apr-97,80000,0,P I F,0,80000,64000
898996,9992713003,BLACK GOLD MOTEL,PAMPA,TX,79065,"BUSINESS LOAN CENTER, LLC",SC,0,27-Feb-97,1997,300,2,1,0,0,0,0,N,N,NaN,30-Apr-97,230000,0,P I F,0,230000,172500
898999,9992743001,"FISH BOWL INN, INC.",ALTOONA,PA,16601,FIRST COMMONWEALTH BANK,PA,72,27-Feb-97,1997,84,11,1,0,0,0,0,N,Y,NaN,31-May-97,24000,0,P I F,0,24000,19200
899014,9993033002,RIVER VALLEY INN & SUITES INC,OSCEOLA,WI,54020,WISCONSIN BUS. DEVEL FINAN COR,WI,0,27-Feb-97,1997,240,1,2,5,0,0,0,N,N,NaN,12-Nov-97,515000,0,P I F,0,515000,515000

In [75]:
df.loc[df['NAICS'] == 0, 'NAICS'].value_counts()

NAICS
0    153455
Name: count, dtype: int64

For these we set the NAICS type to 72.

In [76]:
df.loc[(df['Name'].str.contains(' INN|MOTEL')) & (df['NAICS'] == 0), 'NAICS'] = 72
df.loc[df['NAICS'] == 0, 'NAICS'].value_counts()

NAICS
0    148863
Name: count, dtype: int64

Let's look at food establishments.

In [77]:
df[df['Name'].str.contains('RESTAURANT|PIZZA|CAFE', case=False)]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
13,1000154010,"ORCHARD CAFE & BAKERY, INC.",SLATERSVILLE,RI,2876,CITIZENS BANK NATL ASSOC,RI,0,28-Feb-97,1997,120,2,2,0,0,0,0,N,N,NaN,31-May-97,370000,0,P I F,0,370000,277500
22,1000394001,NICOLES RESTAURANT,JOHNSTON,RI,2919,BANK OF AMERICA NATL ASSOC,RI,0,28-Feb-97,1997,114,6,1,0,0,0,0,N,N,NaN,31-Mar-98,75000,0,P I F,0,75000,56250
337,1002544002,PEPE'S MEXICAN RESTAURANT,BOISE,ID,83703,KEYBANK NATIONAL ASSOCIATION,ID,0,28-Feb-97,1997,84,8,2,0,0,0,0,N,Y,NaN,31-Mar-97,52500,0,P I F,0,52500,42000
468,1003605005,SOFIA'S PIZZA & ROAST BEEF,CORNISH,ME,4020,KEYBANK NATIONAL ASSOCIATION,OH,0,19-Mar-99,1999,180,6,2,0,0,0,2,N,N,NaN,16-Nov-99,80000,0,P I F,0,80000,40000
495,1003825001,The Pizza Shack,Sackets Harbor,NY,13685,KEYBANK NATIONAL ASSOCIATION,OH,72,6-Oct-99,2000,84,6,1,0,0,0,1,N,N,NaN,31-Oct-99,50800,0,P I F,0,50800,25400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898922,9990683003,EDWINA'S CAFE AND HAND CAR WAS,DETROIT,MI,48216,JPMORGAN CHASE BANK NATL ASSOC,IL,0,26-Feb-97,1997,183,26,1,0,0,0,0,N,N,NaN,31-Dec-97,230000,0,P I F,0,230000,172500
898942,9991243002,CICI'S PIZZA,PINEVILLE,TX,26134,COMERICA BANK,TX,0,26-Feb-97,1997,84,25,2,0,0,1,0,N,N,NaN,31-May-97,210000,0,P I F,0,210000,157500
899083,9994193006,THE VILLAGE CAFE INC,DORCHESTER,WI,54425,ADVANTAGE COMMUNITY BANK,WI,0,27-Feb-97,1997,180,1,2,0,0,0,0,N,Y,NaN,1-Nov-97,100000,0,P I F,0,100000,80000
899110,9994673008,JAKE'S PIZZA,CHARLOTTE,NC,28213,BRANCH BK. & TR CO,NC,0,27-Feb-97,1997,187,12,1,0,0,1,0,N,N,NaN,30-Sep-97,115000,0,P I F,0,115000,86250
899111,9994683000,JAKE'S PIZZA,CHARLOTTE,NC,28213,BRANCH BK. & TR CO,NC,0,28-Feb-97,1997,187,12,1,0,0,1,0,N,N,NaN,30-Sep-97,127000,0,P I F,0,127000,95250

We also set these to NAICS type 72.

In [78]:
df.loc[(df['Name'].str.contains('RESTUARANT|PIZZA|CAFE')) & (df['NAICS'] == 0), 'NAICS'] = 72
df.loc[df['NAICS'] == 0, 'NAICS'].value_counts()

NAICS
0    145927
Name: count, dtype: int64

It seems we got lucky with RESTAURANT, PIZZA, CAFE, INN and MOTEL, and were able to confidently populate the NAICS for those.

In [79]:
df[df['Name'].str.contains('AUTO', case=False)]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
467,1003595004,COOPER AUTOMATION,BEDFORD,NH,3110,KEYBANK NATIONAL ASSOCIATION,OH,0,15-Mar-99,1999,60,6,1,0,0,0,0,Y,N,NaN,30-Sep-02,50000,0,P I F,0,50000,25000
818,1005755008,K.D.Y.A Plus Trans & Auto Repa,LOS ANGELES,CA,90003,CALIFORNIA BANK & TRUST,CA,81,19-Feb-03,2003,29,2,1,0,0,0,0,Y,N,13-Aug-10,28-Feb-03,45000,0,CHGOFF,29297,45000,22500
949,1006535003,Mike's Auto Body,WAUTOMA,WI,54982,ASSOCIATED BANK NATL ASSOC,WI,81,2-Jun-03,2003,84,1,2,0,0,0,0,Y,N,NaN,30-Jun-03,20000,0,P I F,0,10000,5000
1041,1007205000,"Greene's Auto Service, Inc",JACKSON,MS,39204,TRUSTMARK NATIONAL BANK,MS,44,21-Jul-03,2003,120,8,1,0,0,0,1,N,N,NaN,31-Oct-03,60600,0,P I F,0,60600,30300
1088,1007484007,"AUTO BOLT & NUT CO., INC.",CLEVELAND,OH,44103,KEYBANK NATIONAL ASSOCIATION,OH,33,4-Mar-97,1997,60,16,1,0,0,0,0,N,Y,NaN,30-Apr-98,100000,0,P I F,0,100000,80000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898979,9991793003,DIESEL EQUIPMENT/AUTO AIR,BIRMINGHAM,AL,35205,FIRST COMM. BANK A DIVISION OF,AL,0,26-Feb-97,1997,60,40,1,0,0,0,0,N,N,NaN,31-May-97,160300,0,P I F,0,160300,120225
899021,9993103010,HELLEM'S AUTO REPAIR,COLORADO SPRINGS,CO,80907,WELLS FARGO BANK NATL ASSOC,CO,81,27-Feb-97,1997,240,2,1,0,0,0,0,N,Y,NaN,31-Jul-97,87600,0,P I F,0,87600,70080
899047,9993493000,CARQUEST AUTO PARTS OF PAYETTE,PAYETTE,ID,83661,U.S. BANK NATIONAL ASSOCIATION,OH,0,27-Feb-97,1997,132,4,1,0,0,0,0,N,N,16-May-01,31-Jul-97,200000,0,CHGOFF,72086,200000,150000
899114,9994763000,"CLASSIC AUTO BODY, INC.",GAITHERSBURG,MD,20877,"PNC BANK, NATIONAL ASSOCIATION",MD,81,27-Feb-97,1997,114,12,1,0,0,0,0,N,Y,NaN,31-May-97,77500,0,P I F,0,77500,62000
899158,9995563001,SHADES WINDOW TINTING AUTO ALA,IRVING,TX,75062,LOANS FROM OLD CLOSED LENDERS,DC,0,27-Feb-97,1997,84,5,2,0,0,0,0,N,Y,NaN,30-Jun-97,79000,0,P I F,0,79000,63200

Companies with AUTO has various industries, so we are not able to populate the NAICS for those companies.

Let's explore a few more keywords.

In [80]:
df[(df['Name'].str.contains("FOOD")) & (df['NAICS'] > 0)]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
130,1001146001,FOOD SOLUTIONS,PASADENA,CA,91011,MUFG UNION BANK NATL ASSOC,CA,72,7-Feb-06,2006,84,60,1,0,0,0,1,N,N,NaN,31-Mar-06,122977,0,P I F,0,50000,25000
880,1006095002,M.A.M. FOOD SALES INC,BELLEROSE,NY,11426,JPMORGAN CHASE BANK NATL ASSOC,IL,42,1-Apr-03,2003,84,1,1,0,0,0,0,Y,N,NaN,30-Apr-03,63330,0,P I F,0,35000,17500
1820,1012154007,"OSPREY SEAFOOD, INC.",NARRAGANSETT,RI,2882,BANK RHODE ISLAND,RI,42,5-Mar-97,1997,60,4,1,0,0,0,0,N,Y,NaN,31-Mar-97,35000,0,P I F,0,35000,28000
2275,1015234002,"LEONARD'S FOOD DIST., INC.",SEATTLE,WA,98133,HERITAGE BANK,WA,42,6-Mar-97,1997,300,6,1,0,0,0,0,N,N,NaN,31-Mar-97,350000,0,P I F,0,350000,262500
5857,1039995008,STERLING FOOD SERVICES CORPORA,MADISON,IL,62060,CAPITAL ONE NATL ASSOC,VA,45,13-Aug-04,2004,36,12,1,0,0,0,1,N,N,30-Sep-10,31-Oct-04,50000,0,CHGOFF,31012,50000,25000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894829,9898703004,"SOUS VIDE FOOD SERVICES, INC.",NORTH MIAMI BEACH,FL,33180,THIRD FED. S & L ASSOC OF CLEV,OH,42,15-Jan-97,1997,96,5,2,0,0,0,0,N,Y,NaN,31-May-97,100000,0,P I F,0,100000,80000
895904,9923733005,LA BOCANA SEAFOOD,SOUTH GATE,CA,90280,BANCO POPULAR NORTH AMERICA,NY,42,27-Jan-97,1997,240,5,1,0,0,0,0,N,N,NaN,31-Jul-97,275000,0,P I F,0,275000,206250
897645,9961943010,"ANASTASI SEAFOOD, INC.",PHILADELPHIA,PA,19147,MANUFACTURERS & TRADERS TR CO,NY,42,13-Feb-97,1997,84,10,1,0,0,0,0,N,N,NaN,31-Mar-97,125000,0,P I F,0,125000,93750
897924,9969353004,"TRUMAN FOOD SERVICE, INC.",BIDDEFORD,ME,4005,BANGOR SAVINGS BANK,ME,42,18-Feb-97,1997,60,2,1,0,0,0,0,N,Y,NaN,31-May-97,28000,0,P I F,0,28000,22400
898902,9990163000,FUJI SUSHI & SEAFOOD BUFFET,CONCORD,CA,94520,CATHAY BANK,CA,44,26-Feb-97,1997,84,4,1,0,0,0,0,N,Y,NaN,30-Jun-97,50000,0,P I F,0,50000,40000

In [81]:
df[(df['Name'].str.contains("CARE")) & (df['NAICS'] > 0)]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
374,1002836009,WOODVIEW FAMILY CARE PLC,MUSKEGON,MI,49444,COMMUNITY SHORES BANK,MI,62,7-Feb-06,2006,5,4,1,2,4,0,1,Y,N,9-Sep-08,31-Mar-06,25000,0,CHGOFF,24660,25000,12500
893,1006176009,"STEP-UP CHILD CARE, LP",MARBLE FALLS,TX,78654,FIRST STATE BANK CENTRAL TEXAS,TX,62,8-Feb-06,2006,62,13,1,0,0,0,2,N,N,2-May-08,30-Apr-06,224831,0,CHGOFF,102747,233000,174750
1006,1006966010,CARE LOVE MEDICAL CENTER,LOS ANGELES,CA,90015,OPEN BANK,CA,62,8-Feb-06,2006,63,38,1,0,38,0,1,Y,N,16-Jan-08,28-Feb-06,330000,0,CHGOFF,200000,200000,100000
1497,1010155010,HEALTH CARE MEDICAL INC,FLOWOOD,MS,39218,TRUSTMARK NATIONAL BANK,MS,44,5-Feb-04,2004,12,10,1,0,0,0,2,Y,N,NaN,30-Jun-04,25200,0,P I F,0,25200,12600
1526,1010514004,PREMIER CHILDCARE AND PRESCHOO,LOUISVILLE,KY,40299,"PNC BANK, NATIONAL ASSOCIATION",KY,62,5-Mar-97,1997,84,8,2,0,0,0,0,N,Y,NaN,31-Mar-97,75000,0,P I F,0,75000,60000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897849,9966253003,"C1C2, INC D/B/A SPECIFIC CARE",ACWORTH,GA,30101,BRANCH BK. & TR CO,GA,62,14-Feb-97,1997,123,2,2,0,0,0,0,N,Y,NaN,31-Aug-97,72500,0,P I F,0,72500,58000
897994,9971103009,HEALTH CARE OFFICE SYSTEMS INC,FRANKSVILLE,WI,53126,JOHNSON BANK,WI,54,18-Feb-97,1997,84,3,2,0,0,0,0,N,Y,NaN,30-Apr-97,100000,0,P I F,0,100000,80000
898367,9978653002,PAL'S CHILD CARE AND EDUCATION,CLIFTON PARK,NY,12065,MONADNOCK COMMUNITY BANK,NH,62,21-Feb-97,1997,242,18,2,0,0,0,0,N,N,NaN,9-Apr-97,360000,0,P I F,0,360000,270000
898606,9983743010,HIS LOVING HANDS CHILD CARE,MIAMI,FL,33157,METRO BANK OF DADE COUNTY,FL,62,24-Feb-97,1997,84,4,1,0,0,0,0,N,Y,NaN,30-Apr-97,32000,0,P I F,0,32000,25600
898847,9989343009,THE NEST CHILD CARE CENTER,GARRISON,NY,10524,EMPIRE ST. CERT. DEVEL CORP,NY,62,26-Feb-97,1997,242,15,2,13,2,0,0,N,N,NaN,8-May-02,243000,0,P I F,0,243000,243000

Not much luck with any other keywords unfortunately, so we drop the remaining rows where NAICS = 0

In [82]:
df  = df.drop(df[df['NAICS'] == 0].index)

Let's create an "Industry" column based on the NAICS values and information as per below:
https://www.kaggle.com/datasets/mirbektoktogaraev/should-this-loan-be-approved-or-denied

In [83]:
df['Industry'] = 0

In [84]:
df['Industry'] = df['NAICS'].map({
    11: 'Ag/For/Fish/Hunt',
    21: 'Min/Quar/Oil_Gas_ext',
    22: 'Utilities',
    23: 'Construction',
    31: 'Manufacturing',
    32: 'Manufacturing',
    33: 'Manufacturing',
    42: 'Wholesale_trade',
    44: 'Retail_trade',
    45: 'Retail_trade',
    48: 'Trans/Ware',
    49: 'Trans/Ware',
    51: 'Information',
    52: 'Finance/Insurance',
    53: 'RE/Rental/Lease',
    54: 'Prof/Science/Tech',
    55: 'Mgmt_comp',
    56: 'Admin_sup/Waste_Mgmt_Rem',
    61: 'Educational',
    62: 'Healthcare/Social_assist',
    71: 'Arts/Entertain/Rec',
    72: 'Accom/Food_serv',
    81: 'Other_no_pub',
    92: 'Public_Admin'
})

In [85]:
df.describe()

,LoanNr_ChkDgt,Zip,NAICS,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,DisbursementGross,BalanceGross,ChgOffPrinGr,GrAppv,SBA_Appv
count,465040,465040,465040,465040,465040,465040,465040,465040,465040,465040,465040,465040,465040,465040,465040
mean,4311423643,52178,50,95,10,1,2,5,0,1,175584,4,12815,158003,120441
std,2426527948,31316,18,70,61,0,44,44,0,1,277658,1906,57964,264583,216651
min,1000014003,501,11,0,0,0,0,0,0,0,4000,0,0,1000,500
25%,2265962504,22304,42,59,2,1,0,0,0,1,35000,0,0,25000,12900
50%,3732074508,53558,48,84,4,1,0,1,0,1,77900,0,0,50000,37000
75%,6122055507,82414,62,96,9,2,1,5,0,1,199171,0,0,165000,127500
max,9995613003,99999,92,527,9999,2,8800,8800,1,2,11446325,996262,3512596,5000000,4500000

In [86]:
df.describe(include='O')

,Name,City,State,Bank,BankState,ApprovalDate,ApprovalFY,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,MIS_Status,Industry
count,465040,465040,465040,465040,465040,465040,465040,465040,465040,101528,465040,465040,465040
unique,423405,25421,52,4879,54,7512,46,2,2,4835,5325,2,20
top,SUBWAY,LOS ANGELES,CA,BANK OF AMERICA NATL ASSOC,NC,30-Jan-04,2007,N,N,13-Mar-10,30-Apr-07,P I F,Retail_trade
freq,194,5872,62362,60350,56695,542,57032,273084,438636,667,5530,366315,81045

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 465040 entries, 0 to 899161
Data columns (total 28 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LoanNr_ChkDgt      465040 non-null  int64
 1   Name               465040 non-null  object
 2   City               465040 non-null  object
 3   State              465040 non-null  object
 4   Zip                465040 non-null  int64
 5   Bank               465040 non-null  object
 6   BankState          465040 non-null  object
 7   NAICS              465040 non-null  int64
 8   ApprovalDate       465040 non-null  object
 9   ApprovalFY         465040 non-null  object
 10  Term               465040 non-null  int64
 11  NoEmp              465040 non-null  int64
 12  NewExist           465040 non-null  float64
 13  CreateJob          465040 non-null  int64
 14  RetainedJob        465040 non-null  int64
 15  FranchiseCode      465040 non-null  int64
 16  UrbanRural         465040 non-null  int64
 17  RevLineCr          465040 non-null  object
 18  LowDoc             465040 non-null  object
 19  ChgOffDate         101528 non-null  object
 20  DisbursementDate   465040 non-null  object
 21  DisbursementGross  465040 non-null  float64
 22  BalanceGross       465040 non-null  float64
 23  MIS_Status         465040 non-null  object
 24  ChgOffPrinGr       465040 non-null  float64
 25  GrAppv             465040 non-null  float64
 26  SBA_Appv           465040 non-null  float64
 27  Industry           465040 non-null  object
dtypes: float64(6), int64(9), object(13)
memory usage: 102.9+ MB

Let's address the column type for a few columns.

In [88]:
df['NewExist'] = df['NewExist'].astype('int64')

In [89]:
df['ApprovalFY'].apply(type).value_counts()

ApprovalFY
<class 'int'>    411254
<class 'str'>     53786
Name: count, dtype: int64

In [90]:
df['ApprovalFY'].unique()

array([1997, 2006, 1998, 1999, 2000, 2001, 2003, 2004, 1980, 2005, 1981,
       1979, 1982, 1983, 1978, 1984, 2007, 1985, 1987, 1986, 2008, 1988,
       2009, 1989, 1990, 2010, 1991, 2011, 1992, 2002, 2012, 1993, 2013,
       1994, 2014, 1976, '2004', '1994', '1981', '1976', '1995', '2005',
       '1977', '1971', '1996', 1996], dtype=object)

In [91]:
df['ApprovalFY'] = df['ApprovalFY'].replace('1976A', '1976')

In [92]:
df['ApprovalFY'] = df['ApprovalFY'].astype('int64')

In [94]:
df.info()
df.to_csv("kaggle_dataset")

<class 'pandas.core.frame.DataFrame'>
Index: 465040 entries, 0 to 899161
Data columns (total 28 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LoanNr_ChkDgt      465040 non-null  int64
 1   Name               465040 non-null  object
 2   City               465040 non-null  object
 3   State              465040 non-null  object
 4   Zip                465040 non-null  int64
 5   Bank               465040 non-null  object
 6   BankState          465040 non-null  object
 7   NAICS              465040 non-null  int64
 8   ApprovalDate       465040 non-null  object
 9   ApprovalFY         465040 non-null  int64
 10  Term               465040 non-null  int64
 11  NoEmp              465040 non-null  int64
 12  NewExist           465040 non-null  int64
 13  CreateJob          465040 non-null  int64
 14  RetainedJob        465040 non-null  int64
 15  FranchiseCode      465040 non-null  int64
 16  UrbanRural         465040 non-null  int64
 17  RevLineCr          465040 non-null  object
 18  LowDoc             465040 non-null  object
 19  ChgOffDate         101528 non-null  object
 20  DisbursementDate   465040 non-null  object
 21  DisbursementGross  465040 non-null  float64
 22  BalanceGross       465040 non-null  float64
 23  MIS_Status         465040 non-null  object
 24  ChgOffPrinGr       465040 non-null  float64
 25  GrAppv             465040 non-null  float64
 26  SBA_Appv           465040 non-null  float64
 27  Industry           465040 non-null  object
dtypes: float64(5), int64(11), object(12)
memory usage: 102.9+ MB